<body>
  <div>
    <h1 style="text-align:left;margin-top: 2%;color: #37474f;margin-left:2%;font-weight: bold;">About BigBidder</h1>
  </div>

  <div style="text-align:left;margin-top: 2%;color: #37474f;margin-left:5%;">
    <h5>
      Here you can both place and buy the second hand electronic products by bidding on them.
    </h5>
  </div>

  <div style="text-align:left;margin-top: 2%;color: #37474f;margin-left:2%;">
    <h3>
      Step To Use The Application:
    </h3>

  </div>

  <div style="text-align:left;margin-top: 2%;color: #37474f;margin-left:5%;">
    <h5>
  . You need to create an account for using this application, you can create the account by clicking on the signup button.
</h5>
<h5>
  . Then you need to login to your account.
</h5>
<h5>
  . If You want to put your product you smiple click on the AddProduct Button.
</h5>
<h5>
  . The Time will be visible when the acution starts for the product the it will be open for a day, person with highest bidded amount can get the product.
</h5>
<h5>
  . You can check the winner in the Result Status Page.
</h5></div>
</body>
